# All the variables below can also be provided as CLI flags, but then they'll end up in your shell history
# Using an .envrc file with https://github.com/direnv/direnv is recommended to prevent accidental secret leaks.

# The platform
export RENOVATE_PLATFORM="github"

# Token for Renovate bot to authenticate itself to the respective platform in order to access repositories and create PRs
export RENOVATE_TOKEN="your_platform_token"

# The author that should be used for the commits that Renovate creates
export RENOVATE_GIT_AUTHOR="Renovate Bot <bot@renovateapp.com>"

# Token for GitHub to authenticate itself when accessing GitHub as a datasource (yes, Github is both a datasource and a platform)
# This ensures that you have higher limits on GitHub when accessing, for example, releases.
# Note that this token can be different from or equal to the token used for RENOVATE_TOKEN
export GITHUB_COM_TOKEN="your_github_token"

# Setting log level to debug is essential when verifying your Renovate Bot configuration on a non-local platform
export LOG_LEVEL=debug
