# IMPORTANT! Normally you'd never check in the .envrc, but for demonstration purposes I'm doing it here.
# Normally you'd create a .envrc-template, and put instructions in the readme to copy it to .envrc and fill in the blanks.
!.envrc
